.event {
    position: relative;
    overflow: hidden;
    height: calc(100vh - 56px);
    max-width: 100vw;
}

.event, .event * {    
    box-sizing: border-box;
}

.event-photo {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

.event-photo.right {
    -webkit-transform: translate(100%);
    transform: translate(100%);
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    transition: transform 0.3s;
}

.event-photo.left {
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    transition: transform 0.3s;
}

.event-transition {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center center;
    top: 0;
    left: 0;
    z-index: -1;
}

.event-transition h4 {
    margin: 56px 8px;
    color: white;
    font-size: 24px;
    text-align: center;
}

.event-data {
    position: absolute;
    height: 150px;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: right;
    padding: 8px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+10&0+1,0.65+10 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.75) 10%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.75) 10%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.75) 10%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.event-data p {
    margin: 5px 0;
}

.left-icons {
    float: left;
    height: 100%;
}

.left-icons .icon {
    display: block;
    height: 55px;
    width: 55px;
    margin: 10px;
    padding: 10px;
}

.left-icons .icon.btn {    
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -3px -3px 6px 0px #999 inset;
}

.left-icons .icon.category {
    filter: brightness(0) invert(1);
}

.left-icons .icon img {
    max-width: 100%;
    margin: 0px auto;
}

.left-icons .icon.btn:hover, .left-icons .icon.btn:active {
    box-shadow: -5px -5px 6px 0px #999 inset;
    background-color: #e0e0e0;
    cursor: pointer;
}

.navbar-inner {
    padding: 0 8px;
}

#eventsContent .item-media img {
    max-width: 80px;
    max-height: 80px;
    margin: 0px auto;
    display: block;
}

.event-list-photo {
    background-size: cover;
    background-position: center center;
    background-color: #d0d0d0;
    width: 80px;
    height: 80px;
}

.emoji {
    width: 33%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    position: absolute;
    pointer-events: none;
    top: 4%;
    opacity: 0;
    -webkit-transition: all 1s; 
    transition: all 1s;
}

.emoji.like, .emoji.dislike {
    opacity: 1;
    transform: translate(0, 10%);
}

.emoji.like.fade, .emoji.dislike.fade {
    opacity: 0;
    -webkit-transition: opacity 0.5s; 
    transition: opacity 0.5s;
}

.emoji.dislike {
    background-image: url(../img/Sad.png);
    left: 10%;
}

.emoji.like {
    background-image: url(../img/Happy.png);
    right: 10%;
}

.gradient-bg {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+38&0+0,0.65+38 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 20%, rgba(0,0,0,1) 60%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 20%,rgba(0,0,0,1) 60%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 20%,rgba(0,0,0,1) 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.login-screen-content * {
    color: #d0d0d0 !important;
}

.login-screen-title img {
    max-width: 60%;
    margin: 10px auto;
    display: block;
}

.login-screen-content input {
    border-bottom: #d0d0d0 solid 1px !important;
    padding: 8px;
}

.navbar {
    background-color: #3f51b5!important
}

.photo-upload {
    margin: 24px;
    padding-bottom: 45%;
    border: #f0f0f0 solid 1px;
    background: url(../img/photo.png) no-repeat center center;
    background-size: 29%;
}

.upload-list .item-inner:after {
    display: none !important;
}

.upload-list input {
    border-bottom: #999 solid 1px !important;
}

.upload-list .item-inner {
    padding-top: 8px !important;
}

.upload-list input:focus {
    border-bottom: #3f51b5 solid 1px !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999 !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999 !important;
}
