<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "mx.jaquez.algebra-rxw"
        versionCode="1"
        version   = "1.0.0">

    <name>RSA x Walsh</name>

    <description>
        Application demostrating simple behavior of RSA and Walsh CDMA techniques.
    </description>

    <author href="http://jaquez.mx" email="chris@jaquez.mx">
        Christopher Jáquez
    </author>
    
    <icon src="icon.fw.png" />
    <splash src="splash.fw.png" />

</widget>