<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "mx.jaquez.nearsoft-travel"
        versionCode="1"
        version   = "1.0.0">

    <name>What's Next</name>

    <description>
        Like tindr, but for buildings.
    </description>

    <author href="http://jaquez.mx" email="chris@jaquez.mx">
        Christopher Jáquez
    </author>

    <plugin name="cordova-plugin-whitelist" />
    
    <icon src="icon.fw.png" />  
    <splash src="splash.fw.png" />

    <access origin="*" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

</widget>